@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

*{
    font-family: sora, "Patrick Hand"  ;
    font-size: large;
    
}


html{
    padding: 30px;
}